iisnode/*
certs/cert.*
server.js.debug/*
npm-debug.log
/wa/iisnode/*
config.json
config.json*
installer/output/*
installer/adldap.msi
installer/directory.wxs
installer/log.log
node_modules/*
logs*
cache.db/
.DS_store*