language: node_js

node_js:
  - "4"

before_install:
  - openssl aes-256-cbc -K $encrypted_7b35491612ac_key -iv $encrypted_7b35491612ac_iv -in config.json.enc -out config.json -d

after_script:
  - rm -f config.json
