<configuration>
    <appSettings>
        <add key="SQL_CONNECTION_STRING" 
             value="Driver={SQL Server Native Client 11.0};Server={.\sqlexpress};Database={wellscordoba};UID={wellsweb};PWD={wellsweb};" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add modules="iisnode" name="iisnode" path="server.js" verb="*"/>
        </handlers>
        <rewrite>
            <rules>
                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}"/>
                </rule>
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="server.js"/>
                </rule>
                <rule name="inspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^server.js" />
                </rule>
            </rules>
        </rewrite>
        <iisnode 
            debuggingEnabled="false" 
            loggingEnabled="true" 
            nodeProcessCommandLine="%programfiles%\nodejs\node.exe" 
            promoteServerVars="AUTH_USER,AUTH_TYPE,LOGON_USER" 
            watchedFiles="*.js;iisnode.yml;node_modules\*;views\*.jade;views\*.ejs;views\*.ejb;routes\*.js"/>
    </system.webServer>
</configuration>