<configuration>
    <system.webServer>
        <handlers>
            <add modules="iisnode" name="iisnode" path="server.js" verb="*"/>
        </handlers>
        <rewrite>
            <rules>
                <rule name="inspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^server.js" />
                </rule>
                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}"/>
                </rule>

                <!--  this is just for Windows Authentication. -->
                <rule name="wa">
                    <match url="wa/*"/>
                    <action type="Rewrite" url="wa/server.js"/>
                </rule>

                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="server.js"/>
                </rule>
            </rules>
        </rewrite>
        <iisnode 
            loggingEnabled="true" 
            nodeProcessCommandLine="%programfiles%\nodejs\node.exe" 
            promoteServerVars="AUTH_USER,AUTH_TYPE,LOGON_USER,HTTPS" 
            watchedFiles="*.js;iisnode.yml;node_modules\*;views\*.jade;views\*.ejs;views\*.ejb;routes\*.js"/>
    </system.webServer>
</configuration>