<configuration>
    <appSettings>

        <add key="SITE_NAME"  value="Sancor Seguros (Empleados)" />

        <add key="SESSION_SECRET" value="CONTOSO" />

        <add key="AUTHENTICATION" value="FORM" /> <!-- INTEGRATED OR FORM -->
        
        <!-- ldap configuration -->
        <add key="LDAP_URL" 
             value="ldap://wellscordoba.wellscordobabank.com/DC=wellscordobabank,DC=com" />

        <add key="LDAP_BASE" 
             value="DC=wellscordobabank,DC=com" />

        <add key="LDAP_BIND_USER" value="app1" />

        <add key="LDAP_BIND_PASSWORD" value="Passw0rd!" />

        <add key="WSFED_ISSUER" value="CONTOSO-STS" />

        <!-- Authorized REALMS with the callback urls -->
        <add key="REALM-urn:auth0:gGmTcDYQB6tmnVq1tVx3HDaoR3YUJQwF" 
             value="https://auth0.auth0.com/login/callback" />

        <add key="REALM-urn:auth0:tWChpCvgfxlEDrUj1hYo27WZabTxNrgo"
             value="https://contoso.auth0.com/login/callback,https://mdocs.auth0.com/login/callback" />

        <add key="REALM-urn:auth0:6s4GD8Dt8EH6tkzgt7AtQLgY68RdspFi"
             value="https://contoso.auth0.com/login/callback" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add modules="iisnode" name="iisnode" path="server.js" verb="*"/>
        </handlers>
        <rewrite>
            <rules>
                <rule name="inspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^server.js" />
                </rule>
                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}"/>
                </rule>

                <!--  this is just for Windows Authentication. -->
                <rule name="wa">
                    <match url="wa/*"/>
                    <action type="Rewrite" url="wa/server.js"/>
                </rule>

                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="server.js"/>
                </rule>
            </rules>
        </rewrite>
        <iisnode 
            loggingEnabled="true" 
            nodeProcessCommandLine="%programfiles%\nodejs\node.exe" 
            promoteServerVars="AUTH_USER,AUTH_TYPE,LOGON_USER,HTTPS" 
            watchedFiles="*.js;iisnode.yml;node_modules\*;views\*.jade;views\*.ejs;views\*.ejb;routes\*.js"/>
    </system.webServer>
</configuration>