<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 	<html lang="en"> <!--<![endif]-->
<head>

	<!-- General Metas -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	<!-- Force Latest IE rendering engine -->
	<title><%= title %></title>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/zocial.css">
	
</head>
<body>
	<% if (errors && errors.length > 0) { %>
		<div class="notice">
			<p class="warn"><%= errors %></p>
		</div>
	<% } %>
	
	<!-- Primary Page Layout -->

	<div class="container">
		
		<div class="form-bg">
			<form method="post">					
				<h2><%= title %></h2>
				<p><input name="username" type="text" placeholder="Username" required></p>
				<p><input name="password" type="password" required></p>
				<!-- <label for="remember">
				  <input type="checkbox" id="remember" value="remember" />
				  <span>Remember me on this computer</span>
				</label> -->
				<!-- <button type="submit"></button> -->
				<button type="submit" class="zocial windows">Login</a>
			<form>
		</div>

	
		<!-- <p class="forgot">Forgot your password? <a href="">Click here to reset it.</a></p> -->
		<p class="forgot">Powered by <a href="http://auth0.com">Auth0</a> Active Directory connector.</p>


	</div><!-- container -->

	
<!-- End Document -->
</body>
</html>