<html>
<head>
	<title>Login to Wells Cordoba Bank (sql demo)</title>
</head>
<body>
	<form action="<%= url %>" method="post">
		<div>
			<label for="username">Username:</label>
			<input id="username" type="text" name="username"/><br/>
		</div>
		<div>
			<label for="password">Password:</label>
			<input id="password" type="password" name="password"/>
		</div>
		<div>
			<input type="submit" value="Submit"/>
		</div>
	</form>
</body>
</html>