.nav-tabs {
	margin-top: 10px;
}

.nav {
	margin-bottom: 0px;
}

#profile-mapper-editor {
	margin-bottom: 15px;
	border: 1px solid #cdcdcd;
}

.CodeMirror {
	line-height: 1.3;
	height: 700px
}

.CodeMirror-linenumbers {
	padding: 0 8px;
}

#logs {
	min-height: 250px;
}

.troubleshoot-info {
	color: #006dcc;
}

.troubleshoot-warning {
	color: #ad6704;
}

.troubleshoot-error {
	color: #a93f3f;
}

.troubleshoot-success {
	color: #51a351;
}

#update-tab {
	display: none;
}

#update-available {
	display: none;
}

#users-search-results {
	margin-top: 20px;
	display: none;
}

#user-by-login-results {
	margin-top: 20px;
	display: none;
}
