<p>When users authenticate first a lookup will happen in the LDAP directory to find their DN after which the AD LDAP connector will try an LDAP bind using the DN with the password. The username is configurable and the user search will happen using the following query: <strong><%= locals.LDAP_SEARCH_QUERY || '(sAMAccountName={0})' %></strong></p>

<p>This search form allows you to test usernames to verify if the current query is compatible with your directory.</p>

<form class="form-search">
  <input id="user-by-login-input" type="text" class="input-large">
  <button id="user-by-login-find" autocomplete="off" type="submit" data-loading-text="Searching for user..." class="btn btn-primary">Search</button>
</form>

<div id="user-by-login-alerts"></div>
<pre id="user-by-login-results"></pre>
