<form class="form-horizontal ldap" method="post" action="/ldap">
  <p>
    Please enter the settings to connect to your LDAP.
    This will be saved locally and never send exposed.
  </p>

  <div class="control-group">
    <label class="control-label" for="LDAP_URL">LDAP Connection String:</label>
    <div class="controls">
      <input type="text"
          name="LDAP_URL"
          id="LDAP_URL"
          value="<%= locals.LDAP_URL || (locals.detected && locals.detected.LDAP_URL) ||  '' %>"
          placeholder="ldap://mycompany.com/"
          pattern="ldaps?://.+"
          oninvalid="setCustomValidity('Please enter a LDAP url')"
          required>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="LDAP_BASE">Base DN:</label>
    <div class="controls">
      <input type="text"
          name="LDAP_BASE"
          id="LDAP_BASE"
          value="<%= locals.LDAP_BASE || (locals.detected && locals.detected.LDAP_BASE) || '' %>"
          placeholder="DC=mycompany,DC=com"
          required>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="LDAP_BIND_USER">Username:</label>
    <div class="controls">
      <input type="text"
          name="LDAP_BIND_USER"
          id="LDAP_BIND_USER"
          value="<%= locals.LDAP_BIND_USER || '' %>"
          placeholder="domain\username"
          required>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="LDAP_BIND_PASSWORD">Password:</label>
    <div class="controls">
      <input type="password"
          name="LDAP_BIND_PASSWORD"
          id="LDAP_BIND_PASSWORD"
          required>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>