<form class="form-horizontal" method="post" action="/ticket">
  <p>
    Please enter the ticket url as shown in the instructions provided in the documentation
  </p>
  <% if (locals.ERROR) { %>
    <p style="color: red;"><%= locals.ERROR %></p>
  <% } %>
  <div class="control-group">
    <label class="control-label" for="PROVISIONING_TICKET">Ticket URL:</label>
    <div class="controls">
      <input type="text"
          name="PROVISIONING_TICKET"
          id="PROVISIONING_TICKET"
          pattern="https?://.+"
          oninvalid="setCustomValidity('Please enter a valid ticket')"
          value="<%= locals.PROVISIONING_TICKET || '' %>"
          tabindex="0">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-success">Continue</button>
    </div>
  </div>
</form>