<form method="post" action="/import?_csrf=<%= locals.csrfToken %>" enctype="multipart/form-data">
  <p>
    Import a previous configuration to the connector.
  </p>

  <div class="control-group" style="border-top:0px;">
    <div class="controls">
      <input type="file"
          name="IMPORT_FILE"
          id="IMPORT_FILE"
          value="<%= locals.IMPORT_FILE || '' %>">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Upload</button>
    </div>
  </div>
</form>
