<form method="get" action="/export">
  <p>
    Export the configuration of the connector. This will serve as a backup or can be used to configure additional nodes.
  </p>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Download</button>
    </div>
  </div>
</form>