<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn btn-primary logs-read">Refresh</button>
    <button id="scroll-bottom" type="submit" class="btn btn-info">Scroll Down</button>
    <button id="logs-clear" type="submit" class="btn btn-info">Clear</button>
  </div>
</div>

<pre id="logs"></pre>

<div class="control-group" id="log-buttons-bottom">
  <div class="controls">
    <button type="submit" class="btn btn-primary logs-read">Refresh</button>
    <button id="scroll-top" type="submit" class="btn btn-info">Scroll Up</button>
  </div>
</div>