<h5>Configuration log:</h5>
<ul>
<% locals.LDAP_RESULTS.forEach(function (entry) { %>
  <li><%= entry.proof %>: 
    <span style="color: <%= entry.result === 'OK' ? 'green' : 'red' %>">
      <%= entry.result %>
    </span>
  </li>
<% }); %>
</ul>