<div class="widget-box">
  <div class="widget-title">
      <h5>Throubleshooting</h5>
  </div>
  <div class="widget-content">
    <div class="ts-messages" style="margin: 18px;">
      Ready to test
    </div>
    <button class="btn btn-success try-ldap">Test Connection to LDAP</button>
  </div>
</div>

<script type="text/javascript">
  $('.try-ldap').click(function (e) {
    e.preventDefault();

    var btn = $(this).prop('disabled', true).html('Trying...');
    var msg_container = $('.ts-messages');

    $.ajax({
      url:  '/test-ldap',
      type: 'GET',
      cache: false
    })
     .done(function () {
       msg_container
        .html('')
        .append('<p class="test-result" style="color: green;">Worked!</p>')
     })
     .fail(function (err) {
       var resp = JSON.parse(err.responseText);
       msg_container
        .html('')
        .append('<p class="test-result" style="color: red;">' + resp.ERROR + '</p>');
     })
     .always(function () {
        btn.prop('disabled', false).html('Test Connection to LDAP');
     });
  })
</script>