<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="*"
          UpgradeCode="$(var.UpgradeCode)"
          Language='1033' Codepage='1252' Version="$(var.ProductVersion)"
          Name="Auth0 AD LDAP Connector"
          Manufacturer='Auth0 INC'>

    <Package Id='*' Keywords='Installer' Description="Auth0 LDAP Connector"
          Comments='Auth0 is a registered trademark of Auth0 INC' Manufacturer='Auth0 INC'
          InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252'
          InstallScope="perMachine"/>

    <Media Id='1' EmbedCab='yes' Cabinet="main.cab" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.SourceDir)\LICENSE.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.SourceDir)\public\images\msi-banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.SourceDir)\public\images\msi-welcome.bmp" />

    <Icon Id="icon.ico" SourceFile="$(var.SourceDir)\public\images\logo.ico"/>

    <PropertyRef Id="NETFRAMEWORK45" />

    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />

    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
        <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Language="1033"
                      Property="NEWPRODUCTFOUND" />

      <UpgradeVersion Minimum="$(var.RTMProductVersion)"
                      IncludeMinimum="yes"
                      Maximum="$(var.ProductVersion)"
                      IncludeMaximum="no"
                      Language="1033"
                      Property="UPGRADEFOUND" />
    </Upgrade>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='Auth0_Folder' Name='Auth0'>
          <Directory Id='INSTALLDIR' Name='AD LDAP Connector'>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder"
                    Name="Auth0"/>
      </Directory>
    </Directory>

    <CustomAction Id="PreventDowngrading"
              Error="Newer version already installed." />

    <CustomAction Id="LaunchBrowser"
          ExeCommand="explorer.exe &quot;http://localhost:8357/&quot;"
          Directory="INSTALLDIR"
          Return="asyncNoWait" >
    </CustomAction>

    <InstallExecuteSequence>
      <Custom Action='RegisterAdminService'
              Before='StartServices'>NOT Installed</Custom>
      <Custom Action='RegisterConnectorService'
              Before='StartServices'>NOT Installed</Custom>
      <Custom Action='SetupConnectorServicePath'
                    Before='StartServices'>NOT Installed</Custom>
      <Custom Action="LaunchBrowser"
              OnExit="success">NOT Installed</Custom>
      <Custom Action="PreventDowngrading"
          After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>

    <Feature Id='Complete' Level='1'>
      <ComponentGroupRef Id='MainComponentGroup' />
      <ComponentRef Id="ApplicationShortcut" />
      <Component Id="node_component" Guid="{07D39FFF-C0C2-4D3F-BC22-EC7AE4963FFF}" Directory="INSTALLDIR">
        <File Id="node" KeyPath="yes" Source="$(var.NodeBin)" />
      </Component>
      <Component Id="nssm_component" Guid="{07D39AAA-CBB2-4F3F-BC22-EC7AE4963FFF}" Directory="INSTALLDIR">
        <File Id="nssm" KeyPath="yes" Source="C:\Program Files (x86)\nssm-2.24\win32\nssm.exe" />
        <ServiceControl Id="ControlAdminService"
                 Name="Auth0 ADLDAP Admin"
                 Remove="uninstall"
                 Start="install"
                 Stop="uninstall" />

        <ServiceControl Id="ControlConnectorService"
                 Name="Auth0 ADLDAP"
                 Remove="uninstall"
                 Stop="uninstall" />
      </Component>

    </Feature>

    <Property Id="WIXUI_TICKETURL" Secure="yes" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <UIRef Id="WixUI" />

  </Product>
</Wix>
