<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <!-- Immediate: resolves [INSTALLDIR] and stores the full command line as CustomActionData -->
    <CustomAction Id="SetInstallConnectorServicesData"
      Property="InstallConnectorServices"
      Value="&quot;powershell.exe&quot; -NonInteractive -NoProfile -ExecutionPolicy Bypass -Command &quot;&amp; '[INSTALLDIR]setup\Install-Services.ps1' *&gt; '[INSTALLDIR]install-services.log'&quot;"
    />

    <!-- Deferred: WixQuietExec reads CustomActionData (set above) as the command to run -->
    <CustomAction Id="InstallConnectorServices"
      BinaryKey="WixCA"
      DllEntry="WixQuietExec"
      Execute="deferred"
      Impersonate="no"
      Return="check"
    />

  </Fragment>
</Wix>
